<span class="tl-text-line" height="25px">
  <h4 class="tl-title">
    <span class="tl-line" > users </span>
  </h4>
</span>
<div class="container title_form" id="products" >
  <table class="table">
    <tr>
      <th>Username</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
      <th></th>
    </tr>

    <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.role_id %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </table>
</div>
