<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<style>
    body { padding-top: 150px; }
</style>

<body>

<header class="navbar navbar-fixed-top navbar-inverse">
    <nav class="navbar-inner">
        <div class="container">
            <%= render 'layouts/navigation' %>
        </div>
    </nav>
</header>


<div id="main" role="main">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="span14">

                    <%= yield %>
                </div>
            </div>
            <footer>
            </footer>
        </div>
    </div> <!--! end of .container -->
</div> <!--! end of #main -->
</body>
</html>
